@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
}

* {
  box-sizing: border-box;
}

.provider, #root {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.grid {
  display: grid;
  grid-auto-rows: 60px 1fr 30px;
  grid-auto-columns: 1fr;
  width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  /* background: linear-gradient(rgb(167, 151, 170), white); */
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 60px;
  background-color: rgb(90, 31, 100);
  color: white;
}

.header-logo {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo img {
  width: 90%;
  max-height: 90%;
}

.header-links {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-links a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100vw;
  position: relative;
  bottom: 0;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 }

.footer div, .footer a {
  width: 10%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 10px
}

.social-media-icon {
  max-height: 90%;
  width: auto;
}

.homepage {
  display: grid;
  grid-template-rows: 2fr 3fr;
  height: 100%;
  width: 100%;
}

.homepage-title {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  justify-content: center;
}

.homepage-title h1 {
  font-size: 2.7em;
  margin: 20px 0 20px 0;
}

.homepage-title h3 {
  font-size: 1.7em;
  margin: 0;
}

.homepage-pic {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-image: url('ashley.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.about {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}

.about-title, .contact-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85%;
  padding-bottom: 30px;
}

.about-title h2, .contact-title h2 {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-right: 10px;
}

.contact-title h2 {
  margin-right: 0;
}

.about-title img {
  height: 100px;
  border-radius: 50%;
}

.about p {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 0;
  font-size: 1.2em;
  text-align: center;
}

.resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  height: 100%;
}

.resume-top, .resume-button, .resume-hand {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.resume-hand img {
  position: absolute;
  right: 0;
}



.resume-button {
  position: absolute;
  right: 140px;

}

.resume-top h3 {
  font-size: 2em;
}

.resume-button a {
  width: 100px;
  height: 50px;
}

.resume-button a button {
  width: 100%;
  height: 50px;
  font-size: 2em;
  border-radius: 5px;
  background-color: none;
  border: 2px solid black;
}

.contact-form form{
  padding-bottom: 30px;
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

input {
  -webkit-appearance: none;
  width: 75%;
  height: 40px;
  margin: 10px;
  font-size: 1.3em;
}

textarea {
  -webkit-appearance: none;
  width: 75%;
  height: 150px;
  margin: 10px;
  border: none;
  font-size: 1.3em;
  border: 1px lightgray solid;
  cursor: text;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
}

.contact-button {
  -webkit-appearance: none;
  background-color: rgb(167, 151, 170);
  color: white;
  width: 75%;
  height: 40px;
  margin: 10px;
  border: gray 2px solid;
  font-size: 1.3em;
}
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  /* border-bottom: 4px solid rgb(167, 151, 170);
  border-top: 4px solid rgb(167, 151, 170); */
}

.skills h3, .projects-list h3 {
  font-size: 2em;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

.skills-list {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.skills-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.skills-list li img {
  width: 50px;
  height: 50px;
  box-shadow: .2em .2em .5em rgb(148, 133, 148);
  transition: all 1s;
}


.skills-list li img:hover {
  width: 75px;
  height: 75px;
}

.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .single-project, .single-project-one {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.single-project-one {
  background-color: rgba(167, 151, 170, 0.555);
}

.single-project a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-project a img {
  width: 98%;
}
.single-project-movie {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.single-project-movie li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-project-movie li video {
  width: 100%;
  border: 2px solid black;
} */

.projects-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-title h3 {
  margin: 0;
  padding: 0;
}

.projects-list-ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.projects-list-ul li p {
  font-size: .5em;
  margin: 10px;
  text-align: center;
}

.projects-list-ul li {
  height: 250px;
}

.cramit, .impactful, .planted, .pc {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid white;
  font-size: 3em;
  flex-direction: column;
}
.planted {
  background: linear-gradient(
    rgba(252, 250, 250, 0.664),
    rgba(252, 250, 250, 0.664)
    )
    ,url('images/plants.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.pc {
  background: linear-gradient(
    rgba(252, 250, 250, 0.664),
    rgba(252, 250, 250, 0.664)
    )
    ,url('images/magic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.cramit {
  background: linear-gradient(
    rgba(252, 250, 250, 0.664),
    rgba(252, 250, 250, 0.664)
  )
  ,url('images/study.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.impactful {
  background: linear-gradient(
    rgba(252, 250, 250, 0.664),
    rgba(252, 250, 250, 0.664)
  )
  ,url('images/hands.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.projects-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-skills {
  width: 100%;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

h5 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 1em;
}

.project-skills li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 5px;
}

.project-skills li img {
  width: 50px;
  height: 50px;
}

.project-screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  background-color: white;
}

.span {
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: center;
  align-content: space-between;
}

.span div {
  width: 80%;
}
.span p {
  width: 20%;
  text-align: center;
}

.hype {
  text-decoration: underline;
  font-size: 1.4em;
  margin-bottom: 10px;
  text-align: center;
}

.project-screen img {
  width: 50%;
}

.project-screen video {
  width: 100%;
  border: 2px solid black;
}

.project-screen p {
  text-align: center;
  cursor: pointer;
}

.gitLink {
  font-size: 1.3em;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 10px;
}

/* @media all and (max-width: 3000px) and (min-width: 1000px) { */

  @media all and (min-width: 440px) {
    .homepage-title {
      text-align: center;
    }

    .homepage-title h3 {
      font-size: 3em; 
    }

    .homepage-title h1 {
      font-size: 5em;
    }
    .homepage-pic {
      background-size: contain;
      background-position: bottom right;
    }
    .resume-top {

    }
  }